body { background: #79645e; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 57px; display: flex; }
.block-uploader-0 { color: #febe56; font-size: 20px; margin-bottom: 5px; }
.block-shipping-1 { color: #55024f; font-size: 12px; margin-bottom: 5px; }
.block-user-2 { color: #aedebe; font-size: 13px; margin-bottom: 5px; }
.block-database-3 { color: #f569a; font-size: 18px; margin-bottom: 5px; }
.block-email-4 { color: #563fef; font-size: 14px; margin-bottom: 5px; }
.block-cluster-5 { color: #9ebedf; font-size: 14px; margin-bottom: 5px; }
.block-email-6 { color: #843f73; font-size: 12px; margin-bottom: 5px; }